.list{
  display: flex;
  gap: 10px;
  align-items:center;
  width: 100%;
  margin-top: 15px;
}

.wrapper{
display: flex;
justify-content: space-between;
align-items:center;
}

.search{
  height: 40px;
  width: 40px;
  display: flex;
  border-radius:10px;
  justify-content: center;
  align-items:center;
  background: white;
  cursor: pointer;
  margin-left: 10px;
  justify-self: end;

}
.searchInput{
  width: 100%;
  outline: none;
  border:0;
}

.searchFull{
  transition: all 0.3s;
  background-color:white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:'center';
  padding: 10px;
  border-radius:10px;
}
.searchImgWrap{
  cursor: pointer;
}

.datepicker{
  display: flex;
  justify-content:space-between;
  align-items:center;
  gap: 8px;
}
.categoryPopup{
  background-color: white;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items:'center';
  justify-content: space-between;  
  border-radius:5px;
  span{
    width: 100%;
  }
  span:hover{
    opacity: 50%;
    cursor: pointer;
  }
}