.wrapper{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 15px;
}

.leftSide{
  height: 100%;
.info{
  display: flex;
  gap: 40px;

  .f1{
    color:#979797;
    span{
      color:#C4C4C4;
    }
  }
}


.h1{
font-weight: 700;
line-height: 35px;
color: #000000;
font-size: 30px;
mix-blend-mode: normal;
opacity: 0.9;
span{
  font-size: 16px;
  margin-left: 13px;
}
}
.bot{
display: flex;
align-items:center;
gap: 10px;
}

}


.rightSide{
  display: flex;
  gap: 20px;
  align-items:center;
  .notification{
    cursor: pointer;
    background: white;
    border-radius:10px;
    height: 70px;
    width: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    .count{
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items:center;
      background-color: #A1D214;
      border-radius:10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */
      font-feature-settings: 'pnum' on, 'lnum' on;
          
      color: #000000;
    }
  }

  .profile{
    cursor: pointer;
    background: white;
    border-radius: 10px;
    height: 70px;
    padding: 0 22px;
  display: flex;
  gap: 20px;
  align-items:center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #222222;
  div{
    h1{
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #222222;
    }
    span{
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        /* identical to box height */
        font-feature-settings: 'pnum' on, 'lnum' on;
            
        color: rgba(34, 34, 34, 0.3);

    }
  }
  }

}